.card {
  display: grid;
  width: 20rem;
  margin: 2rem;
  position: relative;
  grid-template-columns: 1fr;
  background-color: rgb(114, 114, 114);
  border-radius: 10px;
}

.poster {
  object-fit: contain;
  border-radius: 10px 10px 0 0;
  clip-path: polygon(0 0, 0 90%, 100% 100%, 100% 0);
  width: 100%;
}

.movie_details {
  display: grid;
  justify-content: flex-start;
  color: whitesmoke;

  h4 {
    margin: 0.5rem;
  }
}
